# Auto detect text files and perform LF normalization
* text=auto
*.ipt filter=lfs diff=lfs merge=lfs -text
*.iam filter=lfs diff=lfs merge=lfs -text
*.idw filter=lfs diff=lfs merge=lfs -text
*.ipn filter=lfs diff=lfs merge=lfs -text
*.txt filter=lfs diff=lfs merge=lfs -text
*.csv filter=lfs diff=lfs merge=lfs -text
*.mat filter=lfs diff=lfs merge=lfs -text
